body {
    background-color: rgba(0, 0, 0, 0.767);
}
.navbar-collapse .button{
    font-size: 16px;
}
.text-light {
font-size: 10px;
}


.img{
    margin-left: 12px;
    width: 10rem;
}
.col-7 {

    font-size: 15px;
    border-radius: 4px;
    height: 11pc;
    background-color: rgb(255 182 59);
}
.col-3 {
    font-size: 19px;
    padding: 0%;
    color: white;

}

.col-3 h6 {

    margin-top: -5%;
    color: rgb(255 182 59);
}

.text-center {
    margin-top: 1%;
    background-color: black;
    height: 6pc;
    border: 1px solid white;
    border-radius: 4px;

}

.text-center .col {
    font-size: 15px;
    margin-top: 7px;

}

.col h6 {

    margin-top: -7%;
    color: rgb(255 182 59);
}

.col-4 p {
    font-size: 7px;

}

/* section 2 */
.form-control {
    height: 30px;
    font-size: 12px;
}

.col-lg-6 .btn {
    height: 28px;
    font-size: 12px;
}

/* section 3 */
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 86%;
    margin-left: 7%;
    justify-items: center;


}

section .col {
    border: 1px solid rgb(255 182 59);
    /* width: 96%; */
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 4%;
    background-color: black;
    margin-left: 0%;
    border-radius: 4px;
    justify-items: center;
}

section .col p {
    padding-left: 9%;
    font-size: 13px;
    width: 113px;
    color: white;
}
section .form-control {
    height: 33px;
    font-size: 14px;
}

.section-3 .btn {
    height: 32px;
    font-size: 17px;
    width: 344px;
    margin-left: -178px;
   
}
/* section-4 */
.section-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 86%;
    margin-left: 7%;
    justify-items: center;
}
.section-4 .col {
    border: 1px solid rgb(10, 237, 245);
    /* width: 96%; */
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 4%;
    background-color: black;
    margin-left: 0%;
    border-radius: 4px;
    justify-items: center;

}

.section-4 .col p {
    padding-left: 9%;
    font-size: 13px;
    width: 113px;
    color: white;

}

.section-4 .form-control {
    height: 33px;
    font-size: 14px;
}

.section-4 .btn {
    height: 32px;
    font-size: 17px;
    width: 344px;
    margin-left: -178px;
    background-color: rgb(10, 237, 245);
}
.section-5 p{
    width: 174%;
    font-size: 15px;

}

/* .section-7 */
.card{
    background-color: rgb(255 182 59);
    text-align: start;
    width: 24pc;
    height: 16pc;
    
}

.text-white{
    position: relative;
    left: 37%;
    top: -17pc;

}
.section-8{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    top: -14pc;
}
.section-8 .img1{
    border: 1px solid;
    border-radius: 2pc;
    display: block;
    width: 62%;
    height: 5pc;
    background-color: rgb(160, 153, 152);
    margin-top: 17px;
}
footer{
    grid-template-columns: 1fr 1fr 1fr ;
    position: relative;
    top: -4pc;
text-align: center;
color: burlywood;
}
